{% extends "selvbetjening/sitebase.html" %}

{% block breadcrumbs %}
<li><a href="{% url "home" %}">Forsiden</a></li>
{% endblock %}

{% block contenthead %}
    <h2>Velkommen</h2>
{% endblock %}

{% block content %}
<p></p>

<h3>Bliv medlem</h3>
<p></p>

<ul>
    <li><a href="#"></a></li>
    <li><a href="{% url "quickregistration_register" %}">Bliv medlem</a></li>
</ul>

<h3>Arrangementer</h3>

<ul>
    <li><a href="{% url "events_view_all" %}">Se alle vores tidligere arrangementer</a></li>
</ul>

{% endblock %}