<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Anime Kita</title>
	<link rel="stylesheet" href="https://static.anime-kita.dk/v2.1/css/blueprint/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="https://static.anime-kita.dk/v2.1/css/blueprint/print.css" type="text/css" media="print" />
	<link rel="stylesheet" href="https://static.anime-kita.dk/v2.1/css/print.css" type="text/css" media="print" />
	<!--[if IE]><link rel="stylesheet" href="https://static.anime-kita.dk/v2.1/css/blueprint/lib/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<link rel="stylesheet" type="text/css" href="https://static.anime-kita.dk/v2.1/css/default.css" media="screen, projecton"/>
	<link rel="stylesheet" type="text/css" href="https://static.anime-kita.dk/v2.1/css/extra.css" media="screen, projecton"/>
	<link rel="stylesheet" type="text/css" href="https://static.anime-kita.dk/v2.1/css/uni-form.css" media="screen, projecton"/>
	
</head>
<body>
<div class="container">
	
		<h1 id="banner" class="column span-7 last"><a href="http://www.anime-kita.dk/">Anime Kita</a></h1>

		<div id="breadcrumbs" class="column span-7 last small">
			<ul>
				<li><a href="http://www.anime-kita.dk/">anime-kita.dk</a>&nbsp;&gt;&nbsp;</li>
				<li><a href="http://selvbetjening.anime-kita.dk/">selvbetjening</a></li>
			</ul>
		</div>
		
		<div id="container" class="column span-7 last">
		<div id="container-inner" class="column span-7 last">
		
			<div id="menu" class="column span-2">
				&nbsp;
			</div>
			
			<div id="content" class="column span-5 last">
				<h2>Midlertidigt ude af drift</h2>
				
				<p class="warning">Selvbetjening er midlertidigt taget ud af drift på grund af systemarbejde. Selvbetjening regnes med at være oppe igen kl. 01:00</p>
			</div>
			
		</div>
		</div>
		
		<p id="footer" class="column span-7 last small">Anime Kita, 2007 - 2008 &copy; All rights reserved<br /><span class="site-copy">Design by Louise Johansen</span></p>
</div>
</body>
</html>
