{% load copyright %}{% load googleanalytics %}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Anime kita - nordjyllands forening for japansk populærkultur</title>
		<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cms.css" />

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}contrib/bootstrap/css/bootstrap.min.css" media="screen, projection" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}contrib/datepicker/css/datepicker.css" media="screen, projection" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.selvbetjening.css" media="screen, projection" />

        <script src="{{ STATIC_URL }}contrib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}contrib/datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>

        {% block extrastyle %}{% endblock %}

        <script type="text/javascript">
            $(function() {
                $('input.dateinput').each(function(index, element) {
                    $(element).datepicker({
                        format: 'dd.mm.yyyy'
                    });
                });
            });
        </script>
    </head>

<body>
	<div id="wrapper">
		<div id="topNavBg"></div>
		<div id="top">
			<a href="http://www.anime-kita.dk"><img id="topLogo" src="{{ STATIC_URL }}graphics/toplogo.png" alt="Anime Kita logo" /></a>
			<div id="topNavBgFade"></div>
			<ul id="topNav">
				<li><a href="http://www.anime-kita.dk/">home</a></li>
				<li><a href="http://www.anime-kita.dk/forum/">forum</a></li>
				<li><a href="http://www.anime-kita.dk/galleri/">galleri</a></li>
				<li><a href="http://www.anime-kita.dk/intranet/">intranet</a></li>
			</ul>

			<div id="topUserNav">
				<!-- This is why whitespaces inside block elements shouldn't be parsed -->
				{% if user.is_authenticated %}
				<a class="floatLeft" href="{% url "members_profile" %}">se din profil</a
				><span class="vertSeperatorTiny">|</span
				><a href="{% url "members_logout" %}">Log ud</a>
				{% else %}
				<a class="floatLeft" href="{% url "quickregistration_register" %}">Opret Bruger</a
				><span class="vertSeperatorTiny">|</span
				><a href="{% url "members_login" %}">Log ind</a>
				{% endif %}
			</div>

		</div>

		{% block breadcrumb %}
			{% load breadcrumb_tags %}
			{% add_crumb 'Selvbetjening' 'home' %}
		{% endblock %}

		<div id="topContent">
			<div id="pageControls"></div>
			{% render_breadcrumbs %}
		</div>

		<div id="mid">
			<div id="midLeft">
				{% block navigation %}

				{% if user.is_authenticated %}
				<h2>Din bruger</h2>
				<ul class="leftNav">
					<li><a href="{% url "members_profile" %}">Profil</a></li>
					<li><a href="{% url "kita_membership" %}">Kontingent</a></li>
					<li><a href="{% url "members_current_events" %}">Arrangementer</a></li>
				</ul>

				<h2>Opdater</h2>
				<ul class="leftNav">
					<li><a href="{% url "members_editprofile" %}">Personoplysninger</a></li>
					<li><a href="{% url "members_editprivacy" %}">Privacy</a></li>
					<li><a href="{% url "members_editpicture" %}">Billede</a></li>
					<li><a href="{% url "members_username_change" %}">Brugernavn</a></li>
					<li><a href="{% url "members_password_change" %}">Kodeord</a></li>
				</ul>

				{% comment %}
				<h2>Forum</h2>
				<ul class="leftNav">
					<li><a href="{% url "vanillaforum_editpicture" %}">Billede</a></li>
					<li><a href="{% url "vanillaforum_editnotifications" %}">Notifikationer</a></li>
				</ul>
				{% endcomment %}
				
				{% else %}
				<ul class="leftNav">
					<li><a href="{% url "quickregistration_register" %}"></a></li>
				</ul>
				{% endif %}



				{% endblock %}

				<div id="kitaKanji"></div>
			</div>

			<div id="midContent">
				<h1 class="title">{% block contenthead %}{% endblock %}</h1>

				{% if messages or session_message %}
					{% for message in messages %}
					<p class="alert alert-info">{{ message }}</p>
					{% endfor %}
					{% if session_message %}
					<p class="alert alert-info">{{session_message}}</p>
					{% endif %}
				{% endif %}

				{% block content %}{% endblock %}
			</div>
		</div>

		<div id="footerFix"></div>
	</div>

	<div id="footer">
		<!-- This is why ... -->
		<span>Anime Kita, {% copyright_time 2007 %} &copy; All rights reserved</span
		><span class="vertSeperatorMedium">|</span
		<a href="http://www.anime-kita.dk/om-os/kontakt/">Kontakt</a
		><span class="vertSeperatorMedium">|</span
		><a href="http://www.anime-kita.dk/databehandlingspolitik/">Databehandlingspolitik</a>
	</div>

{% googleanalytics "UA-300839-6" %}
</body>
</html>
