<div id="profile-achievements">

<h2>Achievements</h2>

<p>Du har <img src="{{MEDIA_URL}}graphics/icons/medal_gold_3.png" /> x {{awards.count}} achievements. <a href="{% url kita_list_achievements %}">Se alle achievements</a>.</p>

{% for award in awards %}

{% if not award.achievement.group.slug == 'general' %}
    {% ifchanged award.achievement.group %}
        <h3>{{award.achievement.group.name}}</h3>
    {% endifchanged %}
{% endif %}

<div class="profile-achievement">
    <span class="profile-achi{{award.timestamp}}

    {{award.achievement.name}}

    <span class="profile-achievement-comment">
    {% if award.note %}({{award.note}}){% endif %}
    </span>
</div>

{% endfor %}

</div>