{% extends "site.html" %}

{% block contenthead %}Achivements{% endblock %}

{% block content %}

{% for achivement in achivements %}

{% if not achivement.group.slug == 'general' %}
    {% ifchanged achivement.group %}
        <h3>{{achivement.group.name}}</h3>
    {% endifchanged %}
{% endif %}

<div class="profile-achivement">
    <img src="{{MEDIA_URL}}graphics/icons/medal_{% if achivement in awarded %}gold_3.png{% else %}silver_3.png{% endif %}" />{{achivement.name}}
</div>

{% endfor %}

{% endblock %}