{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">Kitamembership</a> &rsaquo;
     <a href="../">Memberhsip</a> &rsaquo;
     Statistik
</div>
{% endif %}{% endblock %}

{% block content_title %}<h1>Statistik</h1>{% endblock %}

{% block content %}

<h3>Tilmeldinger</h3>

<table class="horizontal">
    <tr>
        <th>Aktive</th>
        <td>{{active}}</td>
    </tr>
    <tr>
        <th>Betinget aktive</th>
        <td>{{conditional_active}}</td>
    </tr>
    <tr>
        <th>Passive</th>
        <td>{{passive}}</td>
    </tr>
    <tr>
        <th>Inaktive</th>
        <td>{{inactive}}</td>
    </tr>
    <tr>
        <th>Total (Aktive + Betinget aktive + Passive)</th>
        <td>{{total}}</td>
    </tr>
</table>

{% endblock %}