{% extends "site.html" %}

{% block contenthead %}
Comic Party bestilling
{% endblock %}

{% block content %}
<p>Tak for din bestilling. En e-mail med betalingsoplysninger er blevet sendt til dig og vi har taget kontakt til Alpha Entertainment (Comic Party) så de kender til din bestilling.</p>

<p>Skulle du have nogen spørgsmål omkring bestillingen er du velkommen til at kontakte os på <a href="mailto:kontakt@anime-kita.dk">kontakt@anime-kita.dk</a> eller Alpha Entertainment <a href="http://comicparty.dk/kontakt">på deres hjemmeside</a>.</p>

{% endblock %}