{% extends "site.html" %}

{% load uniform %}

{% block extraheader %}
    {% uniform_header %}
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url quickregistration_register %}">opret bruger</a></li>
{% endblock %}

{% block contenthead %}Opret bruger{% endblock %}

{% block content %}
<p>En bruger her vil give dig adgang til en masse nyheder fra Anime Kita. Du vil kunne deltage i diskussioner på vores forum, samt tilmelde dig vores træf via vores hjemmeside.</p>

<p>Du kan læse mere <a href="http://beta.anime-kita.dk/databehandlingspolitik/">her</a> om hvordan vi behandler de oplysninger du vidergiver til os.</p>

{{ form|uniform:"opret bruger" }}

{% endblock %}
